body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background: #02D2C7;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25%;
    transition: background .75s;
    -webkit-transition: background .75s;
    -moz-transition: background .75s;
}

#container {
    margin: 20px auto;
    max-width: 720px;
}

h1 {
    color: white;
    background-color: steelblue;
    text-align: center;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

#message {
    display: inline-block;
    width: 25%;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}
